html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #5D755B;
  font-family: 'Roboto', sans-serif;
}

#catTitle {
  font-family: 'Lilita One', cursive;
  text-shadow: 2px 2px black;
}

.inputzone {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Share Tech Mono', monospace; */
}

label {
  font-size: 1.3rem;
  color: black;
}

::placeholder {
  color: rgba(34, 46, 137, 0.5);
  opacity: 1;
}


button {
  text-align: center;
  margin: auto;
}

/* Boxes and Colours */
.basicBox {
  padding: 10px;
}

#nameBox {
  background-color: #D4CAB1;
}

#titleBox {
  background-color: #E17D5A;
}

#addressBox {
  background-color: #D4CAB1;
}

#mailBox {
  background-color: #E17D5A;
}

#phoneBox {
  background-color: #D4CAB1;
}

#siteBox {
  background-color: #E17D5A;
}

#descBox {
  background-color: #B5A157;
}

#eduBox {
  background-color: #B5A157;
}

#workBox {
  background-color: #B5A157;
}