body {
    background-color: blanchedalmond;
}

.inputzone {
    /* font-family: 'Share Tech Mono', monospace; */
}

label {
    font-size: 1.3rem;
    color: black;
}

::placeholder {
    color: rgba(34, 46, 137, 0.5);
    opacity: 1;
  }


  button {
    text-align: center;
    margin: auto;
  }

  /* Boxes and Colours */
    .basicBox {
      padding: 10px;
    }

    #nameBox {
      background-color: #D4CAB1;
    }

    #titleBox {
      background-color: #E17D5A;
    }

    #addressBox {
      background-color: #B5A157;
    }

    #mailBox {
      background-color: #57894E;
    }

    #phoneBox {
      background-color: #D4CAB1;
    }

    #siteBox {
      background-color: #B5A157;
    }

    #descBox {
      background-color: #B5A157;
    }

    #eduBox {
      background-color: #B5A157;
    }

    #workBox {
      background-color: #B5A157;
    }